.conversation {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
  }
  
  .conversation-header {
	padding: 0.75rem;
	background-color: var(--color-background-secondary);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-border);
  }
  
  .header-user-info {
	display: flex;
	align-items: center;
  }
  
  .menu-button {
	margin-right: 0.5rem;
	color: var(--color-text-secondary);
  }
  
  .header-avatar {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: var(--radius-full);
	object-fit: cover;
	box-shadow: var(--shadow-sm);
  }
  
  .header-user-details {
	margin-left: 0.75rem;
  }
  
  .header-user-name {
	font-weight: 500;
	color: var(--color-text-primary);
  }
  
  .header-user-status {
	font-size: 0.75rem;
	color: var(--color-text-tertiary);
  }
  
  .header-actions {
	display: flex;
	align-items: center;
	gap: 0.5rem;
  }
  
  .messages-container {
	flex: 1;
	overflow-y: auto;
	padding: 1rem;
	background-color: var(--color-background-tertiary);
	background-opacity: 0.5;
  }
  
  .input-container {
	padding: 0.75rem;
	background-color: var(--color-background-secondary);
	border-top: 1px solid var(--color-border);
  }
  
  .message-form {
	display: flex;
	align-items: center;
	gap: 0.5rem;
  }
  
  .message-input {
	flex: 1;
	border-radius: var(--radius-full);
	background-color: var(--color-background-tertiary);
	border: none;
	padding: 0.5rem 1rem;
	color: var(--color-text-primary);
  }
  
  .message-input:focus {
	outline: none;
	box-shadow: 0 0 0 2px var(--color-primary);
  }
  
  .send-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: var(--radius-full);
	background-color: var(--color-primary);
	color: white;
	transition: background-color 0.2s;
	box-shadow: var(--shadow-sm);
	border: none;
  	outline: none;
  }
  
  .send-button:hover {
	background-color: var(--color-primary-dark);
  }
  